In [20]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('amazon_product_data_final.csv')
df.head()

,id,product_link,title,brand,price,discount,avg_rating,total_ratings,availability,category
0,1,https://www.amazon.com/BAMBOO-COOL-Undershirt-...,BAMBOO COOL Men's Undershirt Moisture-Wicking ...,BAMBOO COOL,$29.99,0.30,4.5,2022,In Stock,shirts
1,2,https://www.amazon.com/Amazon-Essentials-Regul...,Amazon Essentials Men's Long-Sleeve Flannel Sh...,Amazon Essentials,$12.45,0.29,4.6,57799,In Stock,shirts
2,3,https://www.amazon.com/Sailwind-Henley-Sleeve-...,Sailwind Mens Henley Long/Short Sleeve T-Shirt...,Sailwind,$19.99,0.23,4.3,1677,NaN,shirts
3,4,https://www.amazon.com/Dokotoo-Womens-Spring-B...,Dokotoo Womens Basic Casual V Neck Plaid Print...,Dokotoo,$13.99,0.46,4.2,6300,NaN,shirts
4,5,https://www.amazon.com/Amazon-Essentials-Regul...,Amazon Essentials Men's Short-Sleeve V-Neck T-...,Amazon Essentials,$12.53,0.28,4.4,32894,In Stock,shirts

In [10]:
exchange_rate = 32.4

# 2. สร้างฟังก์ชันสำหรับตรวจสอบและแปลงค่า
def clean_and_convert(val):
    # แปลงเป็น string ก่อนเพื่อความชัวร์ และลบ comma (,) ออกเพราะทำให้ error
    val = str(val).replace(',', '')
    
    if 'THB' in val:
        # กรณีที่ 1: เจอคำว่า THB -> ลบ THB ออก แล้วแปลงเป็นตัวเลขเลย (ไม่ต้องคูณ)
        return float(val.replace('THB', ''))
    elif '$' in val:
        # กรณีที่ 2: เจอเครื่องหมาย $ -> ลบ $ ออก, แปลงเป็นตัวเลข, แล้วคูณเรทเงิน
        return float(val.replace('$', '')) * exchange_rate
    else:
        # กรณีอื่นๆ (เผื่อมีค่าว่างหรือ format ผิด) ให้คืนค่า 0 หรือ NaN
        try:
            return float(val) # เผื่อเป็นตัวเลขเปล่าๆ
        except:
            return 0.0

# 3. เรียกใช้ฟังก์ชันกับคอลัมน์ price ด้วยคำสั่ง .apply()
df['price_numeric'] = df['price'].apply(clean_and_convert)

# แสดงผล
df[['price', 'price_numeric']].head(10)

    price  price_numeric
0  $29.99        971.676
1  $12.45        403.380
2  $19.99        647.676
3  $13.99        453.276
4  $12.53        405.972
5   $7.99        258.876
6   $9.99        323.676
7   $8.54        276.696
8  $11.99        388.476
9  $18.39        595.836

In [12]:
# ลบคอลัมน์ price ทิ้ง
df.drop(columns=['price'], inplace=True)

# inplace=True แปลว่าให้ลบในตัวแปร df ตัวเดิมเลย ไม่ต้องสร้างตัวแปรใหม่มารับค่า
df.head()

,id,product_link,title,brand,discount,avg_rating,total_ratings,availability,category,price_numeric
0,1,https://www.amazon.com/BAMBOO-COOL-Undershirt-...,BAMBOO COOL Men's Undershirt Moisture-Wicking ...,BAMBOO COOL,0.30,4.5,2022,In Stock,shirts,971.676
1,2,https://www.amazon.com/Amazon-Essentials-Regul...,Amazon Essentials Men's Long-Sleeve Flannel Sh...,Amazon Essentials,0.29,4.6,57799,In Stock,shirts,403.380
2,3,https://www.amazon.com/Sailwind-Henley-Sleeve-...,Sailwind Mens Henley Long/Short Sleeve T-Shirt...,Sailwind,0.23,4.3,1677,NaN,shirts,647.676
3,4,https://www.amazon.com/Dokotoo-Womens-Spring-B...,Dokotoo Womens Basic Casual V Neck Plaid Print...,Dokotoo,0.46,4.2,6300,NaN,shirts,453.276
4,5,https://www.amazon.com/Amazon-Essentials-Regul...,Amazon Essentials Men's Short-Sleeve V-Neck T-...,Amazon Essentials,0.28,4.4,32894,In Stock,shirts,405.972

In [17]:
text_to_remove = 'This item cannot be shipped to your selected delivery location. Please choose a different delivery location.'

df[df['availability'] == text_to_remove].head()

,id,product_link,title,brand,discount,avg_rating,total_ratings,availability,category,price_numeric
164,165,https://www.amazon.com/PJ-PAUL-JONES-Regular-F...,PJ PAUL JONES Mens Textured Knit Polo Shirts R...,PJ PAUL JONES,0.0,4.4,702,This item cannot be shipped to your selected d...,shirts,NaN
214,215,https://www.amazon.com/Nine-West-Womens-Bracel...,Nine West Women's Bracelet Watch,Nine West,0.0,4.4,800,This item cannot be shipped to your selected d...,watch,NaN
254,255,https://www.amazon.com/Anne-Klein-AK-2159NVTT-...,Anne Klein Women's Bracelet Watch,Anne Klein,0.0,4.5,16185,This item cannot be shipped to your selected d...,watch,NaN
255,256,https://www.amazon.com/Casio-AQS810W-3AVCF-Sol...,Casio AQS800W Series | Analog Digital Watch | ...,Casio,0.0,4.4,16008,This item cannot be shipped to your selected d...,watch,NaN
284,285,https://www.amazon.com/Apple-Watch-Aluminum-Ab...,"Apple Watch Series 7 (GPS, 45mm) Blue Aluminum...",Amazon Renewed,0.0,4.0,9898,This item cannot be shipped to your selected d...,watch,NaN

In [18]:
text_to_remove = 'This item cannot be shipped to your selected delivery location. Please choose a different delivery location.'

# แทนที่ข้อความนั้นด้วย None (หรือ np.nan) ในคอลัมน์ availability
df['availability'] = df['availability'].replace(text_to_remove, None)

df[df['availability'].isnull()].head()  # แสดงแถวที่มีค่า availability เป็น None

,id,product_link,title,brand,discount,avg_rating,total_ratings,availability,category,price_numeric
2,3,https://www.amazon.com/Sailwind-Henley-Sleeve-...,Sailwind Mens Henley Long/Short Sleeve T-Shirt...,Sailwind,0.23,4.3,1677,NaN,shirts,647.676
3,4,https://www.amazon.com/Dokotoo-Womens-Spring-B...,Dokotoo Womens Basic Casual V Neck Plaid Print...,Dokotoo,0.46,4.2,6300,NaN,shirts,453.276
5,6,https://www.amazon.com/Trendy-Queen-Clothing-F...,Trendy Queen Womens Long Sleeve Tops Going Out...,Trendy Queen,0.20,4.3,532,NaN,shirts,258.876
6,7,https://www.amazon.com/AUTOMET-Fashion-Sweater...,AUTOMET Womens Lace Long Sleeve Shirt Fall Top...,AUTOMET,0.23,4.3,684,NaN,shirts,323.676
9,10,https://www.amazon.com/Alimens-Gentle-Oxford-B...,Alimens & Gentle Mens Solid Oxford Shirt Long ...,Alimens & Gentle,0.20,4.4,7425,NaN,shirts,595.836

In [28]:
# ใช้ {None: np.nan} เพื่อบอก Pandas ว่าจะแทนค่าอะไรเป็นอะไรอย่างชัดเจน
# df['availability'] = df['availability'].replace({None: np.nan})

# ลองเรียกดูข้อมูลแถวที่ 285 อีกครั้ง
df[df['id'] == 255]

# รูปแบบ: {'ชื่อเก่า': 'ชื่อใหม่'}
#df.rename(columns={'price_numeric': 'price'}, inplace=True)

# inplace=True คือให้บันทึกทับลงไปใน df ตัวเดิมทันที

df.to_csv('amazon_product_data_cleaned.csv', index=False)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1033 non-null   int64
 1   product_link   1033 non-null   object
 2   title          1033 non-null   object
 3   brand          1028 non-null   object
 4   discount       1033 non-null   float64
 5   avg_rating     1005 non-null   float64
 6   total_ratings  1033 non-null   int64
 7   availability   737 non-null    object
 8   category       1033 non-null   object
 9   price          962 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 80.8+ KB